<!-- course_detail.html -->

{% extends "common/base.html" %}
{% block content %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>Course Details</h2>
    <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
  </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Event Details Section ======= -->
<section id="event-details" class="event-details">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-8">
        <img src="{{ event.image.url }}" class="img-fluid" alt="{{ event.title }}">
        <h3>{{ event.title }}</h3>
        <p>{{ event.content|safe }}</p>
      </div>
      <div class="col-lg-4">
        <!-- Additional details here -->
      </div>
    </div>

  </div>
</section><!-- End Event Details Section -->

{% endblock content %}
